<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>onclick event example</title>

</head>
<body>
<button  id="my Button" onclick="showAlert()">clickme</button>
<script>
    function showAlert(){alert('Hello,world! this is an onclick alert');
</script>
<!--<h1>window object</h1>-->
<!--<h2>The confirm()Method</h2>-->
<!--<p>click the buttomn</p>-->
<!--<button onclick='confirm("press a button!")';>Try it</button>-->
<!--    function showAlert(){alert('Hello,world!this is an onclick alert");-->
<!--<button onclick="changeText()">change text</button>-->
<!--<p id="text">this is some text</p>-->
<!--<script>-->
<!--   function changeText(){document.getElementById("text").innerHTML="Text has been changed";}-->
<!--</script>-->


</body>
</html>